
   p{
     margin-bottom: 8px;
     font-size: 1.4rem;
     font-weight: 200;
     line-height: 2.1rem;
  
  }
   video{
      background: rgb(252, 252, 252) ;
      
   }
  
   .videos{
     position: absolute;
      top: 25%;
      left: 69%
   }
  
   .title{
     position: relative;
     font-family: Roboto, Arial, Helvetica, Sans-serif, Verdana;
      left: 150px;
     float: right;
     width: 500px;
   }
  
   .card-picture{
    width: 375px
  
   }
  
   .description{
     position: absolute;
      left: 450px;
      top: 100px;
   }
  
   .date{
     position: absolute;
      left: 450px;
      top: 75px
   }