
<!DOCTYPE html>

<html>
<app-navbar></app-navbar>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<div>
<router-outlet></router-outlet>
</div>

<div class="clearfix"></div>


<!--<form class="example" action="/action_page.php" style="margin:auto;max-width:300px">-->
  <!--<input type="text" placeholder="Enter video for Search.." name="search2">-->
  <!--<button type="submit"><i class="fa fa-search"></i></button>-->
<!--</form>-->


<!--<video width="320" height="240" controls>-->
  <!--&lt;!&ndash;<source src="movie.mp4" type="video/mp4">&ndash;&gt;-->
  <!--<source src=app.component.ts type="video/MOV">-->
  <!--Your browser does not support the video tag.-->
<!--</video>-->



</body>
</html>






