figure{
  position: absolute;
    top: 10%;
    left: 4%;
}

figcaption {
      position: relative;
        bottom: 10px;
      width: 90%;
      text-align: left;
      font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
      font-size: 20px;
      text-indent: 0;
      margin: 0.5em;
      padding: 0.5em;
}

h1 {
  position: relative;
  left: -10px;
}
