
<div class="wrapper">
    <div class="container">
      <input type="text" class="input" placeholder="Search Videos">
      <button (click)="searchVideo()" type="button" class="close-btn">Find Videos</button>
    </div>
  </div>


<div class = "videos" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap.xs="10px" fxLayoutAlign fxLayoutGap="15px">
    <mat-card class="card-picture" *ngFor="let video of videos">
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <span fxFlex="80%">Title {{video.title}}</span>
      </mat-card-title>
    <video [routerLink]="['/videoview/', video.id]"  width="400" height="300">
      <source src={{video.url}} type={{video.format}}>
      </video>
    </mat-card>
  </div>
