button{
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

input{
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  background: #f1f1f1;

}
 p{
   margin-bottom: 8px;
   font-size: 1.4rem;
   font-weight: 200;
   line-height: 2.1rem;

}
 video{
    background: aqua;

 }
